#btnimginsert:before {
    content: 'Masukkan Foto';
    margin: 0 auto;
}
input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
    display: none;

}
input[type=file] {
    cursor: pointer;
    width: 180px;
    height: 34px;
    overflow: hidden;
}

input[type=file]:before {
    width: 158px;
    border-radius: 5px;
    height: 32px;
    font-size: 12px;
    margin-top: 2%;
    line-height: 32px;
    display: inline-block;
    background: #3276b1;
    color: #ffffff;
    padding: 0 10px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
