.login-form {
    background: rgba(255, 255, 255, 0.788) no-repeat center center fixed;
    border-radius: 25px;
    margin: 0px;
    padding: 25px;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}